*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%; /*evita que ultrapsse o tamanho do pai, deixa responsivo */
}
a,
a:hover,
a:active,
a:link,
a:visited {
    color: black;
}
