@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Header
/* 3. Menu
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/
/* BEM: BLOCK, ELEMENT, MODIFY */

/**********************************/
/* 0. Variáveis
/**********************************/
:root {
    --clr-green-dark: #049a40;
    --clr-green-light: #0bf96a;
    --clr-pink-dark: #e10bf9;
    --clr-pink-light: #f3a0fd;
    --clr-white: #f5f5f5;
    --ff-primary: 'Nunito', Arial, Helvetica, sans-serif;
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/
html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-white);
    font-family: var(--ff-primary);
}

hr {
    border: none;
    background: var(--clr-pink-dark);
    height: 2px;
    width: 140px;
    margin: 20px auto;
}
h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 5px 0;
}
p {
    line-height: 21.82px;
    padding: 0 10px;
}

/**********************************/
/* 2. Header
/**********************************/
.header-bg {
    background: var(--clr-green-light);
}
.c-header {
    background: var(--clr-green-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
}
.c-header__logo {
    margin: 10px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: auto;
    padding: 25px 0;
    text-align: center;
}
/**********************************/
/* 3. Menu
/**********************************/

nav ul {
    display: flex;
    flex-wrap: wrap;
}
.nav__link {
    padding: 20px 10px;
}
/**********************************/
/* 4. Quem somos
/**********************************/

.section-somos {
    margin: 0 auto;
    max-width: 960px;
}
.c-somos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.c-section-somos__paragraph {
    flex-grow: 6;
    flex-shrink: 1; /* permite a redução para 1(volta ao tamanho padrão) */
    flex-basis: 160px; /*tamanho inicial */
}
.c-section-somos__img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
}
/**********************************/
/* 5. Nossos cursos
/**********************************/
.section-cursos {
    max-width: 960px;
    margin: 0 auto;
}
.c-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso {
    width: 280px;
    margin: 0 20px;
}
/**********************************/
/* 6. Planos
/**********************************/

.section-planos {
    background: var(--clr-pink-light);
}
.c-planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    max-width: 960px;
    margin: 0 auto;
}
.plano {
    width: 290px;
    margin: 10px;
    border: 2px solid var(--clr-green-light);
}
/* 3 rem -> 3 x 16px = 48px */
.plano__titulo {
    font-weight: 700;
    margin: 10px auto;
}
.plano__preco {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.plano__preco sup {
    position: relative;
    font-size: 1.5rem;
}
.plano__divisor {
    background: var(--clr-green-light);
    width: 20px;
    margin: 5px auto;
}
.plano-lista {
    max-width: 195px;
    margin: 0 auto;
}
.plano-lista__item {
    display: flex;
    align-items: center;
    font-style: italic;
    margin: 10px 0;
}
.plano-lista__item::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: var(--clr-green-light);
    border-radius: 5px;
    margin-right: 5px;
}

.plano__btn-comprar {
    display: block;
    max-width: 180px;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--clr-green-light);
}
.plano:last-child {
    background: var(--clr-green-light);
    border: 2px solid var(--clr-pink-dark);
}
.plano:last-child a {
    border: 2px solid var(--clr-pink-dark);
}
.plano:last-child .plano-lista__item::before,
.plano:last-child .plano__divisor {
    background: var(--clr-pink-dark);
}

@media (max-width: 800px) {
    .plano:nth-child(3) {
        order: -2;
    }
    .plano:nth-child(2) {
        order: -1;
    }
}
/**********************************/
/* 7. Vantagens
/**********************************/
.section-vantagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}
.vantagem {
    max-width: 240px;
    margin: 10px;
}
.vantagem__titulo {
    font-size: 1.7rem;
    margin: 0 0 5px 10px;
}
.vantagem__titulo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 25px;
    margin: 0 5px 0 0;
}

.vantagem:nth-child(3n + 1) .vantagem__titulo::before {
    background: var(--clr-green-light);
}

.vantagem:nth-child(3n + 2) .vantagem__titulo::before {
    background: var(--clr-pink-dark);
}

.vantagem:nth-child(3n + 3) .vantagem__titulo::before {
    background: var(--clr-green-dark);
}
@media (max-width: 800px) {
    .vantagem {
        max-width: 220px;
        margin: 10px auto;
    }
}
/**********************************/
/* 8. Newsletter
/**********************************/
.section-newsletter {
    background: var(--clr-green-light);
}
.c-newsletter {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.newsletter-info {
    flex: 1 1 260px;

    padding: 0 0 10px 10px;
}
.newsletter-info h2 {
    font-size: 2.62rem;
    font-weight: 700;
}
.newsletter-info p {
    font-style: italic;
}
.newsletter-form {
    flex: 2 1 260px;
    display: flex;
    flex-wrap: wrap;
}
.newsletter-form__input {
    flex: 3 1 260px;
    font-size: 1.25rem;
    width: 325px;
    color: black;
    font-style: italic;
    border: 10px solid var(--clr-pink-dark);
    padding: 10px;
    margin: 0;
    border-radius: 0px;
}
.newsletter-form__submit {
    width: 192px;
    font-size: 2.25rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    background: var(--clr-pink-dark);
    cursor: pointer;
    padding: 15px;
    border: none;
}
/**********************************/
/* 9. Footer
/**********************************/
.footer {
    background: var(--clr-pink-light);
}
.c-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px calc((100% - 960px) / 2);
}
.c-footer p,
.c-footer__img {
    padding: 5px 10px 5px 10px;
    margin: 0 0 10px 0;
}
.c-footer a {
    display: inline-block;
    margin-left: 10px;
}
